<h1>Edit article</h1>

<%= form_with model: @article, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, value: @article.title %>
  <% if @article.image != '' %>
    <%= image_tag @article.image, width: '250' %>
  <% end %>
  <%= form.file_field :image %>
  <%= form.label :content %>
  <%= form.text_area :body, id: 'article_content', value: @article.body %>
  <%= form.label :categories %>
  <%= form.select(
                  :categories,
                  @categories.collect {|category| [ category.name, category.id ]},
                  {},
                  { multiple: true, id: 'categories' })
  %>
  <%= form.submit value: 'Submit Changes' %>
<% end %>
