
<h1>Dream Team Publications</h1>

<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Register', new_user_registration_path %></li>
<% end %>

<% @api_news_feed.each do |article|%>
<article id="news">
  <h1><%=article.title %></h1>
  <p><%=article.description %></p>
  <%= image_tag(article.urlToImage, size: '150x100', alt: "Source not found") %>
</article>
<% end %>
