
<% Category.all.each do |category| %>
  <%= link_to category.name, category_path(category) %>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete %></li>
  <li><%= link_to t('navbar.pay'), new_subscription_path%></li>
<% else %>
  <li><%= link_to t('navbar.login'), new_user_session_path %></li>
  <li><%= link_to t('navbar.register'), new_user_registration_path %></li>
<% end %>

<h2><%= link_to t('navbar.write'), new_article_path %></h2>
