<% Category.all.each do |category| %>
  <%= link_to category.name, category_path(category) %>
<% end %>


  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <li><%= link_to 'Pay for subscription', new_subscription_path%></li>

  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Register', new_user_registration_path %></li>


<h2><%= link_to 'Write an Article', new_article_path %></h2>
